.main-nav{
    position: absolute;
    width: 1365px;
    height: 62px;
    left: 0px;
    top: 0px;
    background: #1890FF;
}

.nav-logo-text{
    position: absolute;
    width: 248px;
    height: 32px;
    left: 41px;
    top: 15px;
    font-weight: 500;
    font-size: 24px;
    line-height: 32px;
    display: flex;
    align-items: center;
    color: #FFFFFF;
    background-color: #1890FF;
    


    a{
         text-decoration: none;
        color: unset;
    }
    
}


